<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinke.liudao.pinke_order.daos.OrderDAO">
    <resultMap id="orderMap" type="com.pinke.liudao.pinke_order.entities.OrderDTO" >
        <id column="order_id" property="orderId" />
        <result column="is_paid" property="isPaid" />
        <result column="address" property="address" />
        <result column="amount" property="amount" />
        <result column="receiver" property="receiver" />
        <result column="status" property="status" />
    </resultMap>
    <insert id="insertOrder" parameterType="com.pinke.liudao.pinke_order.entities.OrderDTO">
        insert into order_info
        values(null, #{isPaid}, #{address}, #{amount}, #{receiver}, #{status})
    </insert>
    <update id="enableOrderById" parameterType="int" >
        update order_info
        set status = 1
        where order_id = #{orderId}
    </update>
    <update id="disableOrderById" parameterType="int" >
        update order_info
        set status = 0
        where order_id = #{orderId}
    </update>
    <update id="modifyOrder" parameterType="com.pinke.liudao.pinke_order.entities.OrderDTO">
        update order_info
        set is_paid=#{isPaid}, address=#{address}, amount=#{amount}, receiver=#{receiver}, status=#{status}
        where order_id = #{orderId}
    </update>
    <select id="getOrders" parameterType="com.pinke.liudao.pinke_order.entities.OrderFilter" resultMap="orderMap">
        select * from order_info
        where
        <if test="orderId != null and orderId != ''" >
            order_id = #{orderId} and
        </if>
        <if test="isPaid != null and isPaid != ''">
            is_paid = #{isPaid} and
        </if>
        <if test="address != null and address != ''">
            address like '%${address}%' and
        </if>
        <if test="amountLow != null and amountLow != ''">
            amount &gt;= #{amountLow} and
        </if>
        <if test="amountHigh != null and amountHigh != ''">
            amount &lt;= #{amountHigh} and
        </if>
        <if test="receiver != null and receiver != ''" >
            receiver = #{receiver} and
        </if>
        <if test="status != null and status != ''" >
            status = #{status} and
        </if>
        1 = 1
    </select>
    <select id="getOrderById" parameterType="int" resultMap="orderMap">
        select * from order_info where order_id = #{orderId}
    </select>
</mapper>